@model IEnumerable<DataLayer.Models.Instruments.DbFuture>

@{
    ViewData["Title"] = "Instuments Page";
}

<h3>Instrument View</h3>

<form asp-action="AddFuture">
    <input type="text" name="localSymbol"/>
    <input type="submit" value="Add"/>
</form>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalSymbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinTick)
            </td>
        </tr>
    }
</table>

