
@{
    ViewData["Title"] = "Connect";
}
<h1>Connect</h1>
<form method="post">
    <label>Ip</label>
    <input type="text" name="ip" value="127.0.0.1" />
    <label>Port</label>
    <input type="text" name="port" value="7497" />
    <label>Client Id</label>
    <input type="text" name="clientid" value="1" />
    <input type="submit" value="Connect" />
</form>
