
@{
    ViewData["Title"] = "Index";
}
<h1>Index connector</h1>
<h2>Connector now is @ViewData["connected"]</h2>
<a asp-area="" asp-controller="Connector" asp-action="Connect">Connection</a>
<a asp-area="" asp-controller="Connector" asp-action="Disconnect">Disconnection</a>
