@model IEnumerable<DataLayer.Models.Strategies.Container>
@{
    <h3>Containers view</h3>
        @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Future.LocalSymbol)
            </td>
        </tr>
    }
}
