@page "/containerdetails/{Id:int}"

@inject ContainersRepository _containersRepository

<h3>Container: @Id</h3>
<p>Number of straddles: @_container.LongStraddles.Count()</p>

@code {
	[Parameter]
	public int Id { get; set; }

	private Container _container;

	protected override void OnInitialized()
	{
		_container = _containersRepository.GetById(Id);
	}
}
