@page "/containerdetails/{Id:int}"


@inject ContainersRepository _containersRepository

<h3>Container: @Id, @_container.Account, @_container.Future.LocalSymbol</h3>
<p>Number of straddles: @_container.LongStraddles.Count()</p>

<div class="row">
	@foreach (var straddle in _container.LongStraddles)
	{
		<StraddleInfo Straddle=straddle/>
	}	
</div>

@code {
	[Parameter]
	public int Id { get; set; }

	private Container _container;

	protected override void OnInitialized()
	{
		_container = _containersRepository.GetById(Id);
	}
}
