<div class="row">
	<div class="row">
		<button class="btn btn-danger btn-sm" @onclick="(()=>_collapsed = !_collapsed)">
			<div class="row">
				<div class="col">
					Volume:<em>@Strategy.Volume</em> 
				</div>
				<div class="col">
					Position:<em>@Strategy.Position</em>
				</div>
				<div class="col">
					Logic:<em>@Strategy.StrategyLogic</em>
				</div>
			</div>
		</button>
		@if (!_collapsed)
		{
			<div class="row">
				<h6>Orders:</h6>
				@foreach (var order in Strategy.StrategyOrders)
				{
					<OrderInfo Order=order></OrderInfo>
				}
			</div>
		}
	</div>
</div>

@code {
	[Parameter]
	public OptionStrategy Strategy{ get; set; }

	private bool _collapsed = true;
}
