<div class="row">
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col">
					<em>Order:</em>
					Filled:@Order.FilledQuantity -
					Add here PlaceDate
				</div>
				<div class="col">
					<button class="btn btn-info" @onclick="(()=>_collapsed = !_collapsed)">
						+
					</button>
				</div>
			</div>
		</div>
		@if (!_collapsed)
		{
			<div class="card-body">
				<p>TotalQuantity:@Order.TotalQuantity</p>
				<p>FilledQuantity:@Order.FilledQuantity</p>
				<p>AvgFilledPrice:@Order.AvgFilledPrice</p>
			</div>
		}
	</div>
</div>

@code {
	[Parameter]
	public DbOrder Order{ get; set; }
	
	private bool _collapsed = true;
}
