@using DataLayer.Models
<div class="row">
	<div class="row">
		<button class="btn btn-secondary" @onclick="(()=>_collapsed=!_collapsed)">
			<div class="row">
				<div class="col">
					@Straddle.ExpirationDate
				</div>
				<div class="col">
					@Straddle.Strike
				</div>
				<div class="col">
					@Straddle.PnLInCurrency
				</div>
				<div class="col">
					@Straddle.StraddleLogic
				</div>
			</div>
		</button>
		@if(!_collapsed)
		{
			<div class="row">
				<h5>Strategies:</h5>
				@foreach (var strategy in Straddle.OptionStrategies)
				{
					<OptionStrategyInfo Strategy=strategy/>
				}
			</div>
		}
	</div>
</div>
@code {
	[Parameter]
	public LongStraddle Straddle { get; set; }

	private bool _collapsed = true;
}
