<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -- MFDll</title>
</head>
<body>
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
        Main
    </a> 
    <a class="nav-link" asp-area="" asp-controller="Instruments" asp-action="Index">
        Instruments
    </a> 
    @RenderBody()
</body>
</html>